@using EssexWebapp.Models
@using EssexWebapp.ViewModels;
@model TopicViewModel
@{
  var topic = Model.Topic;
  ViewData["Title"] = topic.Name;
  ViewData["og:title"] = topic.Name;
  ViewData["Description"] = topic.Summary;
  Layout = "../Shared/_Layout.cshtml";
}
@section Breadcrumbs {
  @Html.Partial("Breadcrumb", topic.Breadcrumbs)
}
<div class="main only">
  <section class="intro">
    <h1>@topic.Name</h1>
    @{
      if (topic.Alerts != null)
      {
        foreach (var alert in topic.Alerts)
        {
          @Html.Partial("GlobalAlert", alert)
        }
      }
    }
    @if (topic.SubItems.Any())
    {
      @Html.Partial("PrimarySubitems", topic)
    }
  </section>
  <section class="content">
  @if (topic.SecondaryItems.Any())
  {
    @Html.Partial("SecondaryItems", topic)
  }
  @if (Model.Topic.EmailAlerts)
  {
    @Html.Partial("EmailSubscribe", Model.Topic.EmailAlertsTopicId)
    }
  </section>
</div>