@using EssexWebapp.ViewModels
@model HomepageViewModel
@inject EssexWebapp.Utils.ViewHelpers viewHelper
@{
  ViewData["Title"] = "Welcome to Essex County Council";
  ViewData["og:title"] = "Welcome to Essex County Council";
  Layout = "../Shared/_LayoutHome.cshtml";
}

@section BackgroundImage {}
@section CarouselBackgroundImage {}

<section class="search-background" aria-label="Search essex.gov.uk">
  <div class="overlay"></div>
  <div class="search-container">
    <div class="greeting">
      <h1 class="page-heading">Welcome to Essex</h1>
    </div>        
    @Html.Partial("Search", new Tuple<string, string, string>("cludo-search-hero-form", "Search essex.gov.uk", "cludo-search-bar")) 
  </div>
</section>
<main id="content">
  <div class="container">
    <div class="main only">
      <section class="content">
        @if (Model.HomepageContent.Alerts != null)
        {
          foreach (var alert in Model.HomepageContent.Alerts)
          {
            @Html.Partial("GlobalAlert", alert)
          }
        }
      <h2 class="content-heading">Essex County Council Services</h2>
      @Html.Partial("GenericFeaturedItemList", Model.HomepageContent.GenericItemList)
      @Html.Partial("Carousel", Model.HomepageContent.CarouselContents)
      @if (Model.FeaturedNews != null)
      {
        <h2>News</h2>
        <div class="previews news">
          @foreach (var item in Model.FeaturedNews)
          {
            <div class="preview">
              @if(item.Image != "")
              {
                <img src=@item.Image alt="@item.Title" width="200" height="112">
              }
              <h3 class="sub-section-heading"><a href="/news/@item.Slug">@item.Title</a></h3>
              <p>@item.Teaser</p>
              <p class="meta">@Html.Partial("FormattedDate", item.SunriseDate)</p>
            </div>
          }
        </div>
      }
      </section>
    </div>
  </div>
</main>
@Html.Partial("HomePageEmailSubscribe", "")
<script type="text/javascript">
  require(['alerts'],
  function (alerts) {
      alerts.Init();
  });
</script>