@using System.Threading.Tasks
@using EssexWebapp.ViewModels
@model NewsroomViewModel
@{
  var newsroom = Model.Newsroom;
}
@if (!newsroom.News.Any())
{
  <h2>No news articles found.</h2>
}
else
{
  <div class="landing">
  @{
    if (newsroom.Alerts != null)
    {
      foreach (var alert in newsroom.Alerts)
      {
        <partial name="DisplayTemplates/Alert" model='alert' />
      }
    }
  }
  <ul>
  @foreach (var subItem in newsroom.News)
  {
    <li id="@subItem.Slug" class="landing-preview">
      <div class="landing-text">
        <p class="meta">
          <partial name="FormattedDate" model='subItem.SunriseDate' />
        </p>
        <h3 class="sub-section-heading">
          <a href="@Url.Action("Detail", "News", new {slug = subItem.Slug})">
            @subItem.Title
          </a>
        </h3>
        <p>
          @subItem.Teaser
        </p>
      </div>
      <div class="landing-img">
        <img src="@subItem.Image" alt="@subItem.Title" width="200" height="112" />
      </div>
    </li>
  }
  </ul>
  </div>
}
<partial name="Pagination" model='Model.Pagination' />