@using EssexWebapp.FeatureToggling
@model EssexWebapp.Models.Topic
@inject FeatureToggles FeatureToggles

    @*<section class="tight">*@
        <div class="preview-list">
            @foreach (var subItem in Model.SecondaryItems)
            {

                <ul>
                    <li>
                        <a href="@subItem.NavigationLink">@subItem.Title</a>
                        <p>@subItem.Teaser</p>
                    </li>
                </ul>
            }
            @*@if (Model.SecondaryItems.Count() > 3)
            {
                <div class="js-hidden" id="tab-one" aria-hidden="true">
                    <ul>
                        @foreach (var subItem in Model.SecondaryItems.Skip(3))
                        {
                            <li>
                                <a href="@subItem.NavigationLink">@subItem.Title</a>
                                <p>@subItem.Teaser</p>
                            </li>
                        }
                    </ul>
                </div>

                <div data-target="tab-one">
                    <input class="checkbox" id="toggle-one" type="checkbox" aria-controls="tab-one" aria-expanded="false">
                    <label class="show" for="toggle-one">Show</label>
                    <label class="hide" for="toggle-one">Hide</label>
                </div>
            }*@
        </div>
        @*<div class="section-break-lg"></div>*@
    @*</section>*@
